/* TAGS */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: gray;
}

main{
    width: 30%;
    height: 80%;
    margin: 0 auto;
    background: yellow;
}

footer{
    height: 15%;
    background: red;
}


/* CLASSES */

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.auto-height{
    height: auto;
}

.center{
    margin: 0 auto;
}

/* IDENTIFIERS */

#main-header{
    height: 15%;
    background: yellow;
}

#main-container{
    height: 70%;
    background: green;
}

#main-container > header{
    height: 20%;
    background: magenta;
}

#form-container{
    height: 80%;
}

#form-container > header{
    height: 20%;
    width: 30%;
    margin: 0 auto;
    background: burlywood;
}

#navigation-wrap {
  height: 50px;

}

#navigation-wrap {
  float: none;
  padding: 10px 20px;

}

#navigation-container {
  font-family: sans-serif;
  font-weight: normal;
  color: black;

  }

#navigation-container {
  float: right;
}

#navigation-column {
  float: left;
  margin-left: 20px;
  text-align: right;

}

#div {

}

#account-recovery-link {
   color: black;

}

#account-recovery-link{
   text-decoration: none;

}

div#navigation-column {
    float: left;
    margin-left: 10px;
    text-align: right;
}

button#SIGN-IN-button.button-submit {
  background: blue;
 border-radius: 10px;
 border: 20px solid blue;
 color: white;
  cursor: pointer;
    font-size: 1.125em;
    font-weight: normal;
  }

  button#SIGN-IN-button.button-submit {
    display: inline-block;
text-align: center;
align-items: flex-start
}
